* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10%;
    font-family: Helvetica;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-template-areas: 
    h1,
    player1,
    checkBoard,
    player2
}

.gameName {
    display: flex;
    flex-direction: center;
    justify-content: center;
    background-color: rgb(194, 46, 16);
    grid-area: h1;
    border-radius: 35%;
    padding: 30px;
}

.checkBoard {
    height: 550px;
    width: 550px;
    border-radius: 30px;
    border-color: rgb(114, 26, 26);
    display: inline-grid;
    /* justify-content: center; */
    /* align-items: center; */
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-color: rgb(139, 13, 13);
    grid-area: checkBoard;
}

.square {
    height: 100%;
    width: 100%;
    /* color: red; */
    /* display: grid; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0%;
    padding: 0%; 
    border-spacing: 0%; */
    
    /* grid-area:
c0r0, c1r0, c2r0, c3r0, c4r0, c5r0, c6r0, c7r0,
c0r1, c1r1, c2r1, c3r1, c4r1, c5r1, c6r1, c7r1,
c0r2, c1r2, c2r2, c3r2, c4r2, c5r2, c6r2, c7r2,
c0r3, c1r3, c2r3, c3r3, c4r3, c5r3, c6r3, c7r3,
c0r4, c1r4, c2r4, c3r4, c4r4, c5r4, c6r4, c7r4,
c0r5, c1r5, c2r5, c3r5, c4r5, c5r5, c6r5, c7r5,
c0r6, c1r6, c2r6, c3r6, c4r6, c5r6, c6r6, c7r6,
c0r7, c1r7, c2r7, c3r7, c4r7, c5r7, c6r7, c7r7   */
}

player1 {
    display: flex;
    display: grid;
    flex-direction: center;
    justify-content: center;
    padding: 20px;
    grid-area: player1;
    background-color: white;
    border-radius: 50px;
    
    
}


player2{
    display: grid;
    flex-direction: center;
    justify-content: center;
    padding: 20px;
    grid-area: player2;
    background-color: brown;
    border-radius: 50px;
}


.red {
    background-color: red;
}

.black {
    background-color: black;
}

.p1Piece {
    border-radius: 50%;
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

.p2Piece {
    border-radius: 50%;
    background-color: brown;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}
